:root {
    --azul-principal: #1E90FF;
    --azul-escuro: #0A192F;
    --azul-claro: #64FFDA;
    --rosa-claro: #ff64c4;
    --branco: #FFFFFF;
    --cinza: #8892B0;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background: var(--azul-escuro);
    color: var(--branco);
    scroll-behavior: smooth;

}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(10, 25, 47, 0.9);
    backdrop-filter: blur(8px);
    z-index: 100;
}

.logo {
    color: var(--branco);
    font-family: 'Nunito', sans-serif;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--branco);
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--rosa-claro);
}

main {
    flex: 1;
}

/*seção projetos*/


.projetos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 40px;
}

/* CARD */
.card {
    background: #112240;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
    transition: .3s;
}

.card:hover {
    transform: scale(1.03);
}

.card-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    color: #fff;
}

.card-buttons {
    margin-top: 10px;
}

.card-buttons .btn {
    background: #64FFDA;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal.show {
    display: flex;
}

.modal-content {
    background: #1A1E27;
    border-radius: 14px;
    padding: 25px;
    display: flex;
    gap: 30px;
    width: 80%;
    max-width: 1000px;
    position: relative;
    color: #fff;
}

/* FECHAR */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

/* LADO ESQUERDO */
.modal-left {
    width: 50%;
}

.modal-img {
    width: 100%;
    border-radius: 12px;
}

.preview-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #00FF7F;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

/* LADO DIREITO */
.modal-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-box {
    background: #2B313C;
    padding: 15px;
    border-radius: 10px;
}

.info-box h4 {
    margin-bottom: 8px;
    color: #00FF7F;
}

/* footer */

footer {
    text-align: center;
    padding: 1.5rem;
    background: #112240;
    color: var(--branco);
}

.socials a {
    color: var(--branco);
    text-decoration: none;
}